@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;

}


body {
    background-color: #D1E9F6;
    color: #0A3871
    Height: 100vh;
    box-sizing: border-box; 
}

.Ingrese el titulo aqui{
    display: flex;
    align-items: center;
    margin: 10%;
    justify-content: space-between;
}

.Ingrese el texto aqui__contenido{
    width: 577px;

}

.Ingrese el titulo aqui__contenido__titulo{
    font-size: 32px;
    font-family: "Inter", sans-serif;
}

.Ingrese el texto aqui__contenido__texto{
    font-family: "Inter", sans-serif;
    font-size: 24px;
}
.Ingrese el texto aqui__contenido__texto2{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.encriptador__enlaces{
    display: flex;
    justify-content: space-between;

}

.encriptador__enlaces__link{
    width: 328px;
    background-color: #0A3871;
    padding: 19.36px 0;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

}

.encriptador__enlaces__link2{
    background-color: #D8DFE8;
    
}